.header {
    width: 100vh;
    height: 100vh;
    background-color: aliceblue;
}

.main {
    width: 100vh;
    height: 100vh;
    background-color: antiquewhite;
}

.footer {
    width: 100vh;
    height: 100vh;
    background-color: aquamarine;
}